{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}



{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/league.css'%}">

<body>
    <div class="header">
        <div class="container">
            <div class="left">
                <div class="logo-container">
                  <img src="{% static 'images/trophy.png' %}" alt="log">
                </div>
                <h1>UFC fantasy league</h1>
            </div>
            <div class="right">
                <nav>
                    {% if request.session.email %}
                    <p>Logged in as {{ request.session.email }}</p>
                    <a href="{% url 'logout' %}">Logout</a> {% else %}
                    <p>You're not logged in</p>
                    <a href="{% url 'signIn' %}">Sign In</a> {% endif %}
                </nav>
                <a class="get-start-btn" href="home">Home</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="inner-container">
                <div class="content">
                    Create League {% block content %}{% endblock %}
                </div>
                <br><br>
                <form action="postcreateleague" method="post">
                    {% csrf_token %}
                    <input type="text" name="leaguename" placeholder="League Name"><br>
                    <input type="text" name="uniquecode" placeholder="Uniquecode"><br>
                    <input type="submit" value="Create">
                </form>
            </div>
        </div>
    </main>
    <script src="{% static 'js.js' %}"></script>
</body>

</html>