<!DOCTYPE html>
<html lang="en">
    <header style="background-color: red; text-align: center;">
        <h1 style="color: white; text-shadow: 1px 1px black;">UFC Fantasy League</h1>
      </header>
<head>
    
    <meta charset=""UTF-8>
    <Title>Logout</Title>
    <style>
        div{
        position: absolute;
        right: 10px;
        top: 5px;
        }
    </style>
</head>
<body>
    Logout successful<br><br>
    <button type="button" onclick="location.href='{% url 'signIn' %}'">Signin</button><br>
    
    </body>
    </html>