{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}


{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/log.css'%}">
</head>

<body>
     <div class="header">
        <div class="container">
            <div class="left">
                <div class="logo-container">
                  <img src="{% static 'images/logo.png' %}" alt="log">
                </div>
                <h1>UFC fantasy league</h1>
            </div>
            <div class="right">
                <nav>
                    {% if request.session.email %}
                    <p>Logged in as {{ request.session.email }}</p>
                    <a href="{% url 'logout' %}">Logout</a> {% else %}
                    <p>You're not logged in</p>
                    <a href="{% url 'signIn' %}">Sign In</a> {% endif %}
                </nav>
            </div>
        </div>
    </div> 
    <main>
        <div class="log-box">
            <div class="left">
                <div class="inner-left-container">
                    <div class="content">
                        Sign Up {% block content %}{% endblock %}
                    </div>
                    <br><br>
                    <form action="postsignup" method="post">
                        {% csrf_token %}
                        <div class="inp-container">
                            <input type="text" name="name" placeholder="Name">
                            <input type="email" name="email" placeholder="Email">
                            <input type="password" name="pass" placeholder="Password">
                        </div>
                        <div class="inp-buttons">
                            <input type="submit" value="Sign up">
                        </div>
                    </form>
                </div>
            </div>
            <div class="right d-flex al-center">
              <img src="{% static 'images/player-vector.png' %}" alt="player">            
            </div>
        </div>
    </main>
    <script src="{% static 'js.js' %}"></script>
</body>

</html>