{% if messg %}
<script>
    alert('{{ messg }}');
</script>
{% endif %}



{% load static %}
<!DOCTYPE html>
<html lang="en">
<style></style>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/welcome.css' %}">
</head>

<body>
    <div class="header">
        <div class="container">
            <div class="left">
                <div class="logo-container">
                  <img src="{% static 'images/logo.png' %}" alt="log">

                </div>
                <h1>UFC fantasy league</h1>
            </div>
            <div class="right">
                <nav>
                    {% if request.session.email %}
                    <p>Logged in as {{ request.session.email }}</p>
                    <a href="{% url 'logout' %}">Logout</a> {% else %}
                    <p>You're not logged in</p>
                    <a href="{% url 'signIn' %}">Sign In</a> {% endif %}
                </nav>
                <a class="get-start-btn" href="home">Home</a>
            </div>
        </div>
    </div>
    <main>
        <div class="container">
            <div class="content">
                Step into the Octagon: Welcome to the Ultimate <br><span class="bold-text">UFC Fantasy League</span> {% block content %}{% endblock %}
            </div>
            <br><br>
            <div class="btn-container">
              
              <button type="button" onclick="location.href='{% url 'fighter_selection' %}'">Selected Fighters</button><br>
              
              <button type="button" onclick="location.href='{% url 'choosefighters' %}'">Choose fighters</button><br>
              
              <button type="button" onclick="location.href='{% url 'joinleague' %}'">Join league</button><br>
              <button type="button" onclick="location.href='{% url 'createleague' %}'">Create league</button><br>
              <button type="button" onclick="location.href='{% url 'leaguetable' %}'">League Table</button> 
            </div>
        </div>
    </main>
    <script src="{% static 'js.js' %}"></script>
</body>

</html>